.header{
    color: black;
    font-size: 35px;
    box-shadow: 5px 5px 5px rgb(68, 123, 225);
}
.header:hover{
    width: 250px;
}
body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 20px;
    background: white;
    border-radius: 10px;
    width: 333px;
    margin-top: 15px;
}

.link:hover {
    font-size: 18px;
    text-decoration: underline;
}